<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Argentina - Stubs Generator</h2>
            <h3 class="oe_slogan">M&oacute;dulo de Facturaci&oacute;n de la localizaci&oacute;n argentina</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
               <img src="js.png"/>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Incluye:<br>  - Configuraci&oacute;n de libros, diarios y otros detalles para facturaci&oacute;n argentina.<br> - Wizard para configurar los talonarios necesarios para facturar.<br><br>Falta:<br>  - Terminar de completar la lista de c&oacute;digos del AFIP de monedas (http://www.afip.gob.ar/fe/documentos/TABLA%20MONEDAS%20V.0%20%2025082010.xls)
            </p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.flectra.com/start?app=crm" class="oe_button oe_big oe_tacky">Start your <span class="oe_emph">free</span> trial</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">How vouchers A, B, C and E works</h2><br>
        <center><object width="560" height="315"><param name="movie" value="//www.youtube.com/v/iX3nVykeaqo?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/iX3nVykeaqo?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">New Loc. Argentina Invoice Module</h2><br>
        <center><object width="560" height="315"><param name="movie" value="//www.youtube.com/v/peoPGvoj5zg?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/peoPGvoj5zg?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Correction and Integration with Receipts.</h2><br>
        <center><object width="560" height="315"><param name="movie" value="//www.youtube.com/v/GbiwqvdBtys?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/GbiwqvdBtys?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>
    </div>
</section> 