<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Account Check Management</h2>
            <h3 class="oe_slogan">New features, new updates</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="cheq1.png"/>
                
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
This module updates several functions of the original check module.<br>
- Simpler code: From 3600 lines to 1300.<br>
- Translation of all the terms involved.<br>
- Cancellation of vouchers, and checks status update associated with it.<br>
- Ability to go back one operation referred (back to draft status checks).<br>
- Simplification of management in general.<br>

            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Corrections and modifications actions on checks</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
- Check deposits<br>
- Rejection deposited checks<br>
- Delivery of checks<br>
- Checks delivered rejection<br>
- Sell checks. <br>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="cheq2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Complete Video Tutorial</h2>
        <h3 class="oe_slogan">New Check Module - Flectra</h3>
        <br>
        <center><object width="560" height="315"><param name="movie" value="//www.youtube.com/v/fzkakPFsxt0?version=3&amp;hl=es_ES"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/fzkakPFsxt0?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Own Checks</h2>
        <h3 class="oe_slogan">Pay with Own Check</h3><br>
        <div class="oe_span6">
        </div>
                <center><object width="560" height="315"><param name="movie" value="//www.youtube.com/v/Ygpam4iaCvU?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/Ygpam4iaCvU?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object></center><br>

        <h3 class="oe_slogan">Reject Own Check</h3><br>
            <span style="margin-left:150px; margin-right:360px;">Supplier Expenses</span>Without Expenses
        <center><object width="450" height="253"><param name="movie" value="//www.youtube.com/v/r7ue571mQ-g?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/r7ue571mQ-g?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="450" height="253" allowscriptaccess="always" allowfullscreen="true"></embed></object>

        <object width="450" height="253"><param name="movie" value="//www.youtube.com/v/r7ue571mQ-g?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/r7ue571mQ-g?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="450" height="253" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>

            </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Third Checks</h2>
        <h3 class="oe_slogan">Placing an own check in a bank account</h3><br>
            <center>
            <object width="560" height="315"><param name="movie" value="//www.youtube.com/v/UHSesmuN49k?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/UHSesmuN49k?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
        </center><br>

        <h3 class="oe_slogan">Reject a check deposited</h3><br>
        <span style="margin-left:150px; margin-right:360px;">Invoice to customer</span>Record Expenses
         <center><object width="450" height="253"><param name="movie" value="//www.youtube.com/v/2dcITnlbzsU?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/2dcITnlbzsU?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="450" height="253" allowscriptaccess="always" allowfullscreen="true"></embed></object>

         <object width="450" height="253"><param name="movie" value="//www.youtube.com/v/XtQKxW5mD4c?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/XtQKxW5mD4c?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="450" height="253" allowscriptaccess="always" allowfullscreen="true"></embed></object></center><br>

         <h3 class="oe_slogan">Deliver a check</h3><br>
        <center>
         <object width="560" height="315"><param name="movie" value="//www.youtube.com/v/AZn31V71ubs?version=3&amp;hl=es_ES"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/AZn31V71ubs?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object></center><br>

         <h3 class="oe_slogan">Reject a check delivered (Supplier Expenses)</h3><br>
         <span style="margin-left:40px; margin-right:160px;">Translating customer spending (Invoice to customer)</span>Untranslated customer spending
         <center>
            <object width="450" height="253"><param name="movie" value="//www.youtube.com/v/YXNHKt8RX7Y?hl=es_ES&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/YXNHKt8RX7Y?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="450" height="253" allowscriptaccess="always" allowfullscreen="true"></embed></object>

            <object width="450" height="253"><param name="movie" value="//www.youtube.com/v/tdp3Q9slwgg?version=3&amp;hl=es_ES"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/tdp3Q9slwgg?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="450" height="253" allowscriptaccess="always" allowfullscreen="true"></embed></object>

         </center><br>

         <h3 class="oe_slogan">Sell a Check</h3><br>

         <center>
            <object width="560" height="315"><param name="movie" value="//www.youtube.com/v/HfoyAxHLdQo?version=3&amp;hl=es_ES"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/HfoyAxHLdQo?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
         </center>

    </div>
</section> 